@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

$mobileWidth: 550px;

/* Sticky footer */
body {
    font-family: "Noto Serif", "Palatino", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #ecf0f1; /* White background */
    font-size: 13px;

    @media (min-width: $mobileWidth){
        font-size: 16px;
    }
}

main {
    flex: 1 0 auto;
}

.i-am {
    font-family: Menlo, Roboto Mono, Courier New, monospace;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    text-align: left;

    @media (min-width: $mobileWidth){
        font-size: 24px;
    }
}

.collapsible-header {
    font-weight: bold;
}

.date {
    font-weight: normal;
    font-style: italic;
}

.links {
    font-size: 18px;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 5px;
	border: 2px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 1000px;
}

.container-mobile-fix {
    @media (max-width: $mobileWidth){
        padding: 0;
        width: 100%;
    }
}

.section {
    margin: 10px 0;
    border-top: 4px solid black;
    text-align: justify;

    @media (min-width: $mobileWidth){
        border-left: 4px solid black; //Left border for non-mobile users
        border-top: none;
        padding-left: 20px;
        margin-bottom: 25px;
    }

    h2 {
        font-weight: bold;
        font-size: 22px;
        margin: 0;

        @media (min-width: $mobileWidth){
            margin-bottom: 5px;
        }
    }

    h3 {
        font-weight: bold;
        font-size: 16px;

        @media (min-width: $mobileWidth){
            font-size: 17px;
        }
    }
}

#cycling {
    #racereports {
        .collapsible-header {
            @media (max-width: $mobileWidth){
                padding: 0 8px;
                font-size: 12px;
                font-weight: normal;
            }
        }

        .collapsible-body {
            @media (max-width: $mobileWidth){
                padding: 8px;
            }
        }
    }
}

footer {
    font-size: 12px;

    @media (min-width: $mobileWidth){
        font-size: 18px;
    }

    .container {
        @media (max-width: $mobileWidth){
            padding: 0 auto;
        }
    }

    #links {
        h5 {
            font-size: 18px;

            @media (min-width: $mobileWidth){
                font-size: 22px;
            }
        }
    }
}

.border-red {
	border-color: #c0392b;
}

.border-yellow {
	border-color: #f39c12;
}

.border-green {
	border-color: #1e8c4d;
}

.border-blue {
	border-color: #2980b9;
}

.border-purple {
	border-color: #8e44ad;
}

p {
    margin-top: 15px;
}

p.header {
    font-weight: bold;
    margin: 0px;
}
