@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

$mobileWidth: 550px;

/* Sticky footer */
body {
    font-family: "Noto Serif", "Palatino", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #ecf0f1; /* White background */
}

main {
    flex: 1 0 auto;
}

.i-am {
    font-family: Menlo, Roboto Mono, Courier New, monospace;
    font-weight: bold;
    border-radius: 5px;
    font-size: 24px;
    /*padding: 5px 8px;*/
    /*color: #fff;*/
    color: black;
    /*background-color: #01579b;*/
    width: auto;
}

.collapsible-header {
    font-weight: bold;
}

.date {
    font-weight: normal;
    font-style: italic;
}

.links {
    font-size: 18px;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 5px;
	border: 2px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.section {
    margin: 10px 0 25px 0;
    font-size: 16px;

    @media (min-width: $mobileWidth){
        padding-left: 20px;
        border-left: 4px solid black;
        font-size: 14px;
    }

    h2 {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 5px;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
    }
}

footer {
    font-size: 12px;

    @media (min-width: $mobileWidth){
        font-size: 18px;
    }
}

.border-red {
	border-color: #c0392b;
}

.border-yellow {
	border-color: #f39c12;
}

.border-green {
	border-color: #1e8c4d;
}

.border-blue {
	border-color: #2980b9;
}

.border-purple {
	border-color: #8e44ad;
}

p {
    margin-top: 15px;
}

p.header {
    font-weight: bold;
    margin: 0px;
}
