body {
    margin: 0;
    font-family: Avenir, sans-serif;
}

header {
    background: #d35400;
    background: -moz-linear-gradient(45deg, #d35400 25%, #e67e22 100%);
    background: -webkit-linear-gradient(45deg, #d35400 25%, #e67e22 100%);
    background: linear-gradient(45deg, #d35400 25%, #e67e22 100%);
    color: white;
    margin: 0;
    padding: 60px 30px;
    text-align: center;
}

header h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    letter-spacing: 1px;
}

header h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 0;
}

header h2 a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed white;
    transition: all 250ms;
}

header h2 a:hover {
    border-bottom-color: black;
}

#about {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 20px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 13px;
    color: #bbb;
    background: #333;
}

footer a {
    color: #777;
}
