body {
    margin: 0;
    font-family: Avenir, sans-serif;
    min-width: 1000px;
}

header {
    background: #196177;
    background: -moz-linear-gradient(45deg, #196177 25%, #2ea3b7 100%);
    background: -webkit-linear-gradient(45deg, #196177 25%, #2ea3b7 100%);
    background: linear-gradient(45deg, #196177 25%, #2ea3b7 100%);
    color: white;
    margin: 0;
    padding: 60px;
    text-align: center;
}

header .cursor {
    padding-left: 2px;
    border-right: 0.1em solid;
}

header h1 {
    font-family: monospace;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

header h2 {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

header h3, header #progress-content-section .section-content#history ol li strong, #progress-content-section .section-content#history ol li header strong {
    margin-top: 30px;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
}

header .fade {
    opacity: 0;
}

header a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed white;
}

header a:hover {
    border-bottom: none;
}

main {
    min-height: 130vh;
}

.timeline-container {
    height: 100px;
    width: 100%;
    margin-top: 50px;
}

.timeline-container.fixed {
    position: fixed;
    top: -65px;
    background: white;
    z-index: 1;
    height: 85px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.timeline {
    width: 90%;
    margin: auto;
    position: relative;
}

.timeline ul.timeline-points {
    padding: 0;
    margin: 0;
    padding-top: 18px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

.timeline ul.timeline-points li:before {
    content: " ";
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #aaa;
    transition: all ease 0.3s;
}

.timeline ul.timeline-points li.active:before, .timeline ul.timeline-points li:hover:before {
    border: 2px solid #444;
}

.timeline ul.timeline-points li {
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 60px;
    position: relative;
}

.timeline ul.timeline-points li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.timeline ul.timeline-points li .icon {
    background: white;
    margin: auto;
    font-size: 24px;
    margin-top: 35px;
    transition: all ease 0.2s;
    padding: 0 5px;
}

.timeline ul.timeline-points li.active .icon {
    color: #207893;
}

.timeline ul.timeline-points li:hover .icon {
    color: #555;
}

.timeline ul.timeline-points li.active, .timeline ul.timeline-points li:hover {
    color: #444;
}

.timeline .line {
    width: 80%;
    margin: auto;
    background: #eee;
    height: 6px;
    position: absolute;
    left: 10%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

.timeline .line-progress {
    content: " ";
    width: 0%;
    height: 100%;
    background: #196177;
    background: -moz-linear-gradient(left, #d35400 0%, #f1c40f 100%);
    background: -webkit-linear-gradient(left, #d35400 0%, #f1c40f 100%);
    background: linear-gradient(to right, #d35400 0%, #f1c40f 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-content-section {
    width: 80%;
    margin: auto;
    background: #f3f3f3;
    border-radius: 4px;
    position: relative;
    margin-bottom: 30px;
}

#progress-content-section .section-content {
    transform: translateY(15px);
    padding: 10px 40px 20px;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode: forwards;
    position: relative;
    display: none;
    opacity: 0;
}

#progress-content-section .section-content::after {
    content: "";
    display: block;
    clear: both;
}

#progress-content-section .section-content.active {
    display: block;
}

#progress-content-section .section-content h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #333;
    text-align: center;
}

#progress-content-section .section-content h3, #progress-content-section .section-content#history ol li strong {
    font-size: 20px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0;
}

#progress-content-section .section-content h3 + p, #progress-content-section .section-content#history ol li strong + p {
    margin-top: 0;
}

#progress-content-section .section-content p {
    font-size: 16px;
    line-height: 1.7em;
    color: #555;
    text-align: justify;
    margin: 16px 0;
}

#progress-content-section .section-content .image {
    max-width: 200px;
    max-height: 300px;
    border: 3px solid #444;
    margin: 20px;
    margin-top: 5px;
}

#progress-content-section .section-content .image.image-right {
    float: right;
    margin-right: 0;
}

#progress-content-section .section-content .image.image-left {
    float: left;
    margin-left: 0;
}

#progress-content-section .section-content .image.image-large {
    max-width: 320px;
    max-height: 440px;
}

#progress-content-section .section-content .separator {
    clear: both;
    margin: 20px auto;
    width: 50%;
    border-bottom: 1px dashed #222;
}

#progress-content-section .section-content .quote-box {
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.45);
    margin: 10px 0;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    overflow: hidden;
}

#progress-content-section .section-content .quote-box ol {
    margin-bottom: 0;
}

#progress-content-section .section-content .quote-box-small {
    padding: 6px 10px;
    background: rgba(0, 0, 0, 0.4);
    margin: 5px 0;
    color: white;
    border-radius: 10px;
    font-style: italic;
    overflow: hidden;
}

#progress-content-section .section-content .buttons {
    text-align: center;
    clear: both;
}

#progress-content-section .section-content .button {
    padding: 10px 20px;
    background: #39C2C9;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 2em;
    color: white;
    transition: all 500ms;
    margin: 10px 40px;
}

#progress-content-section .section-content .button:hover {
    cursor: pointer;
    background: #31acb3;
    transform: scale(1.1);
}

#progress-content-section .section-content#history ol {
    padding-left: 0;
}

#progress-content-section .section-content#history ol li {
    list-style-type: none;
}

#progress-content-section .section-content#history ol li .li-title {
    text-decoration: underline;
}

#progress-content-section .section-content#history ol li p {
    margin-left: 40px;
}

@keyframes FadeInUp {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

ol.hanging-indent {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

ol.hanging-indent li {
    list-style-type: none;
    margin-left: 5px;
    text-indent: -5px;
    line-height: 2em;
}

footer {
    text-align: center;
    padding: 15px;
    font-size: 13px;
    color: #bbb;
    background: #333;
}

footer a {
    color: #777;
}
