$bgDark: #196177;
$bgLight: #2ea3b7;
$progressDark: #d35400;
$progressLight: #f1c40f;

body {
	margin: 0;
	font-family: Avenir, sans-serif;
    min-width: 1000px;
}

header {
	background: $bgDark;
	background: -moz-linear-gradient(45deg, $bgDark 25%, $bgLight 100%);
	background: -webkit-linear-gradient(45deg, $bgDark 25%, $bgLight 100%);
	background: linear-gradient(45deg, $bgDark 25%, $bgLight 100%);
	color: rgba(255,255,255,1);
	margin: 0;
	padding: 60px;
    // height: 50vh;
    text-align: center;

    .cursor {
        padding-left: 2px;
        border-right: 0.1em solid;
    }

    h1 {
        font-family: monospace;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    h2 {
        font-size: 28px;
        font-weight: normal;
        letter-spacing: 0.5px;
    }

    h3 {
        margin-top: 30px;
        font-size: 15px;
        font-weight: normal;
        font-style: italic;
    }

    .fade {
        opacity: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px dashed white;

        &:hover {
            border-bottom: none;
        }
    }
}

main {
    min-height: 130vh;
}

.timeline-container {
	height: 100px;
    width: 100%;
	margin-top: 50px;

    &.fixed {
        position: fixed;
        top: -65px;
        background: white;
        z-index: 1;
        height: 85px;
        box-shadow: 5px 5px 5px rgba(black, 0.2);
    }
}

.timeline {
    width: 90%;
    margin: auto;
    position: relative;

    ul.timeline-points {
    	padding: 0;
    	margin: 0;
    	padding-top: 18px;
    	z-index: 9999;
    	position: absolute;
    	width: 100%;
    	margin-top: -40px;

        //The circles above the headings
        li:before {
        	content: " ";
        	display: block;
        	margin: auto;
        	width: 30px;
        	height: 30px;
        	border-radius: 50%;
        	border: 2px solid #aaa;
        	transition: all ease 0.3s;
        }

        li.active:before, li:hover:before {
        	border: 2px solid #444;
        }

        li {
        	list-style: none;
        	float: left;
        	width: 20%;
        	text-align: center;
        	color: #aaa;
        	text-transform: uppercase;
        	font-size: 14px;
        	cursor: pointer;
        	font-weight: 700;
        	transition: all ease 0.2s;
        	vertical-align: bottom;
        	height: 60px;
        	position: relative;

            .step-inner {
            	position: absolute;
            	width: 100%;
            	bottom: 0;
            }

            .icon {
                background: white;
                margin: auto;
                font-size: 24px;
                margin-top: 35px;
                // box-shadow: 0 2px 13px -1px rgba(0,0,0,0.3);
            	transition: all ease 0.2s;
                padding: 0 5px;
            }

            &.active .icon {
                color: #207893;
            }

            &:hover {
                .icon {
                    color: #555;
                }
            }

            &.active,
            &:hover {
                color: #444;
            }
        }
    }

    .line {
    	width:80%;
    	margin:auto;
    	background: #eee;
    	height:6px;
    	position:absolute;
    	left:10%;
    	top:57px;
    	z-index:1;
    	border-radius:50px;
    	transition:all ease 0.9s;
    }

    .line-progress {
    	content: " ";
    	width: 0%;
    	height: 100%;
    	background: $bgDark;
    	background: -moz-linear-gradient(left, $progressDark 0%, $progressLight 100%);
    	background: -webkit-linear-gradient(left, $progressDark 0%, $progressLight 100%);
    	background: linear-gradient(to right, $progressDark 0%, $progressLight 100%);
    	position:absolute;
    	z-index:2;
    	border-radius:50px;
    	transition:all ease 0.9s;
    }
}

#progress-content-section {
	width: 80%;
	margin: auto;
	background: #f3f3f3;
	border-radius: 4px;
    position: relative;
    margin-bottom: 30px;

    .section-content {
    	transform: translateY(15px);
        padding: 10px 40px 20px;
        animation: FadeInUp 700ms ease 1;
    	animation-fill-mode: forwards;
        position: relative;
        display: none;
        opacity: 0;

        //Make sure to expand and fit floating images
        &::after {
            content: "";
            display: block;
            clear: both;
        }

        &.active {
        	display: block;
        }

        h2 {
        	font-size: 24px;
        	text-transform: uppercase;
        	color: #333;
            text-align: center;
        	// letter-spacing: 1px;
        }

        h3 {
            font-size: 20px;
            text-transform: uppercase;
            color: #333;
            margin-bottom: 0;

            + p {
                margin-top: 0;
            }
        }

        p {
        	font-size: 16px;
        	line-height: 1.7em;
        	color: #555;
            text-align: justify;
            margin: 16px 0;
        }

        .image {
            max-width: 200px;
            max-height: 300px;
            border: 3px solid #444;
            margin: 20px;
            margin-top: 5px;

            &.image-right {
                float: right;
                margin-right: 0;
            }

            &.image-left {
                float: left;
                margin-left: 0;
            }

            &.image-large {
                max-width: 320px;
                max-height: 440px;
            }
        }

        .separator {
            clear: both;
            margin: 20px auto;
            width: 50%;
            border-bottom: 1px dashed #222;
        }

        .quote-box {
            padding: 15px 20px;
            background: rgba(black, 0.45);
            margin: 10px 0;
            color: white;
            font-size: 16px;
            border-radius: 10px;
            overflow: hidden;

            ol {
                li {
                    // list-style-type: circle;
                }

                margin-bottom: 0;
            }
        }

        .quote-box-small {
            padding: 6px 10px;
            background: rgba(black, 0.4);
            margin: 5px 0;
            color: white;
            border-radius: 10px;
            font-style: italic;
            // line-height: auto;
            overflow: hidden;
        }

        .buttons {
            text-align: center;
            clear: both;
        }

        .button {
            padding: 10px 20px;
            background: #39C2C9;
            border: none;
            font-size: 16px;
            text-transform: uppercase;
            border-radius: 2em;
            color: white;
            transition: all 500ms;
            margin: 10px 40px;

            &:hover {
                cursor: pointer;
                background: darken(#39C2C9, 6%);
                transform: scale(1.1);
            }

            &:nth-of-type(1) {
                // float: left;
                // margin-left: 50px;
            }

            &:nth-of-type(2) {
                // float: right;
                // margin-right: 50px;
            }
        }

        &#history {
            ol {
                padding-left: 0;

                li {
                    list-style-type: none;

                    strong {
                        @extend h3;
                    }

                    .li-title {
                        text-decoration: underline;
                    }

                    p {
                        margin-left: 40px;
                    }
                }
            }
        }
    }

    @keyframes FadeInUp {
    	0% {
    		transform: translateY(15px);
    		opacity: 0;
    	}

    	100% {
    		transform: translateY(0px);
    		opacity: 1;
    	}
    }
}

ol.hanging-indent {
    margin: 0;
    padding: 0;
    font-size: 14px;

    li {
        list-style-type: none;
        margin-left: 5px;
        text-indent: -5px;
        line-height: 2em;
    }
}

footer {
	// position: fixed;
	// bottom: 0;
	// width: 100%;
	text-align: center;
	padding: 15px;
	font-size: 13px;
	color: #bbb;
	background: #333;

    a {
    	color: #777;
    }
}
