@import url("https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro");
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: "Avenir", "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Futura";
    line-height: 1.25em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #2d3436;
    color: white;
}

header .header-container {
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;
}

header h1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    color: #009432;
}

header h1 span::before {
    content: "Marin Academy ";
    color: white;
    font-weight: normal;
}

@media screen and (min-width: 600px) {
    header h1 {
        font-size: 20px;
    }
}

.container {
    margin: 80px auto 0;
    max-width: 1000px;
    padding: 0 15px;
}

section {
    margin-top: 50px;
}

section h2 {
    text-transform: uppercase;
    border-bottom: 4px solid #3c40c6;
    margin-bottom: 10px;
}

section h3 {
    padding: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
}

section p {
    margin-top: 0;
}

#catalog .outings-boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

@media screen and (min-width: 600px) {
    #catalog .outings-boxes {
        margin: 0;
    }
}

#catalog .outings-boxes .outing-slide {
    flex: 280px;
    padding: 16px 25px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 500ms, transform 300ms;
    color: white;
    position: relative;
    background: black;
}

#catalog .outings-boxes .outing-slide:hover {
    transform: scale(1.05);
    z-index: 100;
}

#catalog .outings-boxes .outing-slide .outing-title {
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

#catalog .outings-boxes .outing-slide .outing-leaders {
    margin: 10px 0 25px;
    font-weight: normal;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}

#catalog .outings-boxes .outing-slide .outing-date {
    display: none;
}

#catalog .outings-boxes .outing-slide .outing-date p {
    margin: 0;
    padding: 0;
}

#catalog .outings-boxes .outing-slide .outing-tags {
    position: absolute;
    bottom: 10px;
}

#catalog .outings-boxes .outing-slide .outing-tags .outing-tag {
    padding: 0.1em 0.25em;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: inline;
}

#catalog .outings-boxes .outing-slide .outing-description {
    display: none;
}

#catalog .outings-boxes .outing-slide .outing-info {
    display: none;
}

#catalog .outings-boxes .outing-slide .outing-info p {
    margin: 0;
    padding: 0;
}

#catalog .outings-boxes .outing-slide.expanded {
    cursor: default;
    flex: 100%;
    padding: 10px 20px;
    border: 15px solid;
    background: transparent !important;
    color: black;
}

@media screen and (min-width: 600px) {
    #catalog .outings-boxes .outing-slide.expanded {
        order: -1;
    }
}

#catalog .outings-boxes .outing-slide.expanded:hover {
    transform: none;
}

#catalog .outings-boxes .outing-slide.expanded .outing-title {
    font-size: 20px;
    text-align: left;
}

#catalog .outings-boxes .outing-slide.expanded .outing-leaders {
    font-weight: normal;
    font-size: 14px;
}

#catalog .outings-boxes .outing-slide.expanded .outing-date {
    display: block;
}

#catalog .outings-boxes .outing-slide.expanded .outing-description {
    display: block;
}

#catalog .outings-boxes .outing-slide.expanded .outing-info {
    display: block;
}

#catalog .outings-boxes .outing-slide.expanded .outing-tags {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: auto;
}

#catalog .outings-boxes .outing-slide.expanded .outing-tags .outing-tag {
    padding: 0.1em 0.25em;
    border-radius: 5px;
    background: black;
    color: white;
    display: inline;
}

#extra-info h3:not(:first-of-type)::before {
    width: 50%;
    content: "";
    height: 3px;
    background: black;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

footer {
    margin-top: 30px;
    background: #2d3436;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

footer a {
    color: inherit;
}

footer div:nth-of-type(2) {
    text-align: right;
}

@media screen and (min-width: 600px) {
    footer {
        font-size: 14px;
        justify-content: space-around;
    }
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -50px;
    padding: 7px;
    width: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid rgba(51, 51, 51, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}
